doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='')
    title Main
    // core CSS
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/font-awesome.min.css', rel='stylesheet')
    link(href='css/animate.min.css', rel='stylesheet')
    link(href='css/prettyPhoto.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    link(href='css/responsive.css', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='css/card.css', rel='stylesheet')
    link(href='css/w3.css', rel='stylesheet')
    
    //link(href='css/megabox.css', rel='stylesheet')
    link(href='css/theme.css', rel='stylesheet')
    link(href='css/theme2.css', rel='stylesheet')
    link(href='css/etc.css', rel='stylesheet')
    link(href='css/normalize.css', rel='stylesheet')
    link(href='css/li_test.css', rel='stylesheet')
    

    //if lt IE 9
      script(src='js/html5shiv.js')
      script(src='js/respond.min.js')
    link(rel='shortcut icon', href='images/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='images/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='images/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='images/ico/apple-touch-icon-57-precomposed.png')
  // /head
  body.homepage
    header#header
      .top-bar
        .container
          .row
            .col-sm-6.col-xs-4
              .top-number 
                p
                  i.fa.fa-phone-square
                  |   +82 10 5645 5999
            .col-sm-6.col-xs-8
              .social
                ul.social-share
                  li(style='margin-right:10px')
                    a(href='/login')
                      i.fa.fa-sign-in.fa-2x
                  li(style='margin-right:10px')
                    a(href='/join')
                      i.fa.fa-dribbble.fa-2x
                  li(style='margin-right:10px')
                    a(href='/login/logout')
                      i.fa.fa-sign-out.fa-2x
                  li(style='margin-right:10px')
                    if(session.user != undefined)
                      if(session.user.user_id == 'admin')
                        a(href='/admin_movie')
                          i.fa.fa-cog.fa-2x
                      else
                       span(style='color : white') #{session.user.user_name} 님 환영합니다.
                  
                    //- if(session.user != undefined)
                    //-   span #{session.user.user_name} 님 환영합니다.
        // /.container
      // /.top-bar
      nav.navbar.navbar-inverse(role='banner')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='http://localhost:3000/')
              img(src='images/logo.png', alt='logo')
          .collapse.navbar-collapse.navbar-right
            ul.nav.navbar-nav
              li.active
                a(href='http://localhost:3000/') 메인화면 
              li
                a(href='/movie_list') 영화리스트
              li
                a(href='/events') 스토어
              li
                a(href='/mypage') 마이페이지
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | 고객센터
                  i.fa.fa-angle-down
                ul.dropdown-menu
                  li
                    a(href='/asks') 1:1 문의
                  li
                    a(href='/locations') 위치
              li
                a(href='/about_us') 회사 소개
              
        // /.container
      // /nav
    // /header

  #fb-root
  script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.9&appId=352279965137715";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


  section#main-slider.no-margin
    .carousel.slide
      ol.carousel-indicators
        li.active(data-target='#main-slider', data-slide-to='0')
        li(data-target='#main-slider', data-slide-to='1')
        li(data-target='#main-slider', data-slide-to='2')

        li(data-target='#main-slider', data-slide-to='3')
        li(data-target='#main-slider', data-slide-to='4')

      .carousel-inner

        .item.active(style='background-image: url(images/slider/cab.jpg)')
          .container
            .row.slide-margin
              .col-sm-6
                .carousel-content
                  h1.animation.animated-item-1 캐리비안의 해적 : 죽은 자는 말이 없다
                  h5.animation.animated-item-2(style="color:white;") Pirates of Caribean: Dead Ten To Tell Tales
                  hr.animation.animated-item-2
                  h3.animation.animated-item-3(style="color:white;") 지상최고의 액션 어드벤쳐가 온다.
                  a.btn-slide.animation.animated-item-3(href='https://www.youtube.com/watch?v=57GUPDM1KUk', target='_blank') 영상 보기
              .col-sm-6.hidden-xs.animation.animated-item-4

        .item(style='background-image: url(images/slider/won.jpg)')
          .container
            .row.slide-margin
              .col-sm-6
                .carousel-content
                  h1.animation.animated-item-1 원더우먼
                  h5.animation.animated-item-2(style="color:white;") Wonder Woman
                  hr.animation.animated-item-2
                  h3.animation.animated-item-3(style="color:white;") 히어로의 새로운 기준!! "내가 원더우먼 이다."
                  a.btn-slide.animation.animated-item-3(href='https://www.youtube.com/watch?v=Rn0r6IenhZk', target='_blank') 영상 보기
              .col-sm-6.hidden-xs.animation.animated-item-4


        .item(style='background-image: url(images/slider/sukjo.jpg)')
          .container
            .row.slide-margin
              .col-sm-6
                .carousel-content
                  h1.animation.animated-item-1 석조 저택 살인사건
                  h5.animation.animated-item-2(style="color:white;") The Tooth and Nail
                  hr.animation.animated-item-2
                  h3.animation.animated-item-3(style="color:white;") 사라진 사체, 남겨진 증거
                  a.btn-slide.animation.animated-item-3(href='https://www.youtube.com/watch?v=BomH0xvOZiw&t=2s', target='_blank') 영상 보기
              .col-sm-6.hidden-xs.animation.animated-item-4      

        .item(style='background-image: url(images/slider/ail.jpg)')
          .container
            .row.slide-margin
              .col-sm-6
                .carousel-content
                  h1.animation.animated-item-1 에이리언:커버넌트
                  h5.animation.animated-item-2(style="color:white;") Alien:Covenant
                  hr.animation.animated-item-2
                  h3.animation.animated-item-3(style="color:white;") 그것은 시작에 불과했다.
                  a.btn-slide.animation.animated-item-3(href='https://www.youtube.com/watch?v=P7lmmnZ18VQ', target='_blank') 영상 보기
              .col-sm-6.hidden-xs.animation.animated-item-4


        .item(style='background-image: url(images/slider/gan.jpg)')
          .container
            .row.slide-margin
              .col-sm-6
                .carousel-content
                  h1.animation.animated-item-1 간츠:오
                  h5.animation.animated-item-2(style="color:white;") Ganz:O
                  hr.animation.animated-item-2
                  h3.animation.animated-item-3(style="color:white;") 지옥보다 극한 생존 서바이벌 게임! 사상최대의 전투가 시작된다!
                  a.btn-slide.animation.animated-item-3(href='https://www.youtube.com/watch?v=I_Od_5ciFcg', target='_blank') 영상 보기
              .col-sm-6.hidden-xs.animation.animated-item-4



        // /.item
      // /.carousel-inner
    // /.carousel
    a.prev.hidden-xs(href='#main-slider', data-slide='prev')
      i.fa.fa-chevron-left
    a.next.hidden-xs(href='#main-slider', data-slide='next')
      i.fa.fa-chevron-right
  // /#main-slider
  section#feature
    .container
      .center.wow.fadeInDown(style="padding-left:350px; font-size : 25px" )
          ul.nav.nav-pills
            li.active
              a(href='#1a', data-toggle='tab') 박스오피스
            li
              a(href='#2a', data-toggle='tab') 최신개봉작
            li
              a(href='#3a', data-toggle='tab') 상영예정작
            
        .tab-content.clearfix
          #1a.tab-pane.active
            .container
              .row
                h2 박스오피스
              .row
                .col-md-12
                  #media1.carousel.slide.media-carousel
                    .carousel-inner
                      .item.active
                        .row

                        each data,i in boxoffice.slice(0,4)
                          .col-md-3     
                            p(style="font-size:30px;font-weight:bold;") #{i+1} 위 
                            span(style="font-weight:bold;") 누적관객 : 
                            span #{data.movie_audience} / 
                            span(style="font-weight:bold;") 평점 : 
                            span #{data.movie_score}
                            .tile.job-bucke                          
                              .front
                                .contents
                                  img(style="width:220px;height:320px" src='http://localhost:3000/image/' + '#{data.movie_image}' )
                                  p
                                  | hahaha

                              .back
                                h3 Open Jobs
                                br
                                br
                                br
                                br
                                p(style="font-size:20px;padding:5px;") #{data.movie_title}
                                a(href='http://localhost:3000/movie_detail/' + '#{data.movie_title}') 상세정보   
                                a(href='#') 상영시간표
                      .item
                        .row

                        each data,i in boxoffice.slice(4,8)
                          .col-md-3     
                            p(style="font-size:30px;font-weight:bold;") #{i+5} 위 
                            span(style="font-weight:bold;") 누적관객 : 
                            span #{data.movie_audience} / 
                            span(style="font-weight:bold;") 평점 : 
                            span #{data.movie_score}
                            .tile.job-bucke                          
                              .front
                                .contents
                                  img(style="width:220px;height:320px" src='http://localhost:3000/image/' + '#{data.movie_image}' )
                                  p
                                  | hahaha

                              .back
                                h3 Open Jobs
                                br
                                br
                                br
                                br
                                p(style="font-size:20px;padding:5px;") #{data.movie_title}
                                a(href='http://localhost:3000/movie_detail/' + '#{data.movie_title}') 상세정보   
                                a(href='#') 상영시간표                                

                    a.left.carousel-control(data-slide='prev', href='#media1') ‹
                    a.right.carousel-control(data-slide='next', href='#media1') ›

      
          #2a.tab-pane
            .container
              .row
                h2 최신개봉작
              .row
                .col-md-12
                  #media2.carousel.slide.media-carousel
                    .carousel-inner
                      .item.active
                         .row 
                            each data,i in new_movie.slice(0,4)  
                              .col-md-3
                                span(style="font-weight:bold;") 누적관객 : 
                                span #{data.movie_audience} / 
                                span(style="font-weight:bold;") 개봉일 : 
                                span #{data.movie_playdate.getYear()-100 +"-"+ data.movie_playdate.getMonth()+"-"+data.movie_playdate.getDate()}
                                .tile.job-bucke                          
                                  .front
                                    .contents
                                      img(style="width:220px;height:320px" src='http://localhost:3000/image/' + '#{data.movie_image}' )
                                      p
                                      | hahaha

                                  .back
                                    h3 Open Jobs
                                    br
                                    br
                                    br
                                    br
                                    p(style="font-size:20px;padding:5px;") #{data.movie_title}
                                    a(href='http://localhost:3000/movie_detail/' + '#{data.movie_title}') 상세정보   
                                    a(href='#') 상영시간표

                      .item
                         .row      
                            each data,i in new_movie.slice(4,8)  
                              .col-md-3
                                span(style="font-weight:bold;") 누적관객 : 
                                span #{data.movie_audience} / 
                                span(style="font-weight:bold;") 개봉일 : 
                                span #{data.movie_playdate.getYear()-100 +"-"+ data.movie_playdate.getMonth()+"-"+data.movie_playdate.getDate()}
                                .tile.job-bucke                          
                                  .front
                                    .contents
                                      img(style="width:220px;height:320px" src='http://localhost:3000/image/' + '#{data.movie_image}' )
                                      p
                                      | hahaha

                                  .back
                                    h3 Open Jobs
                                    br
                                    br
                                    br
                                    br
                                    p(style="font-size:20px;padding:5px;") #{data.movie_title}
                                    a(href='http://localhost:3000/movie_detail/' + '#{data.movie_title}') 상세정보   
                                    a(href='#') 상영시간표

                                  

 
                            
                               
                    a.left.carousel-control(data-slide='prev', href='#media2') ‹
                    a.right.carousel-control(data-slide='next', href='#media2') ›      
          #3a.tab-pane
            .container
              .row
                h2 상영예정작
              .row
                .col-md-12
                  #media3.carousel.slide.media-carousel
                    .carousel-inner
                      .item.active
                        .row
                            each data,i in nogaebong.slice(0,4)  
                              .col-md-3
                                .tile.job-bucke                            
                                  .front
                                    .contents
                                      img(style="width:220px;height:320px" src='http://localhost:3000/image/' + '#{data.movie_image}' )
                                      p
                                      | hahaha

                                  .back
                                    h3 Open Jobs
                                    br
                                    br
                                    br
                                    br
                                    p(style="font-size:20px;padding:5px;") #{data.movie_title}
                                    a(href='http://localhost:3000/movie_detail/' + '#{data.movie_title}') 상세정보   
                                    a(href='#') 상영시간표

                      .item
                         .row      
                            each data,i in nogaebong.slice(4)  
                              .col-md-3
                                span(style="font-weight:bold;") 상영예정작
                                
                                .tile.job-bucke                          
                                  .front
                                    .contents
                                      img(style="width:220px;height:320px" src='http://localhost:3000/image/' + '#{data.movie_image}' )
                                      p
                                      | hahaha

                                  .back
                                    h3 Open Jobs
                                    br
                                    br
                                    br
                                    br
                                    p(style="font-size:20px;padding:5px;") #{data.movie_title}
                                    a(href='http://localhost:3000/movie_detail/' + '#{data.movie_title}') 상세정보   
                                    a(href='#') 상영시간표

                    a.left.carousel-control(data-slide='prev', href='#media3') ‹
                    a.right.carousel-control(data-slide='next', href='#media3') ›

          //- #4a.tab-pane
          //-   .container
          //-     .row
          //-       h2 큐레이션
          //-     .row
          //-       .col-md-12
          //-         #media4.carousel.slide.media-carousel
          //-           .carousel-inner
          //-             .item.active
          //-               .row
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/82.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기    
                                        
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/83.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기  
                                          
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/84.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기    
                                
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/85.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기  
                                
                            
          //-             .item
          //-               .row
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/86.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기    
                                        
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/87.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기  
                                          
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/88.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기    
                                
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/100.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기  
          //-             .item
          //-               .row
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/90.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기    
                                        
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/91.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기  
                                          
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/92.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기    
                                
          //-                 .col-md-3
          //-                   .tile.job-bucket
          //-                     .front
          //-                       .contents
          //-                         img(style="width:220px;height:320px" src='images/poster/93.jpg' )
                                  
          //-                     .back
          //-                       h3 Open Jobs
          //-                       a(href='#') Experienced Taxi Driver
          //-                       a(href='#') Taxi Driver - East Valley
          //-                       a(href='#') 굿바이 싱글
          //-                       a(href='#') 상세정보 보기
          //-                       a(href='#') 예매하기
          //-           a.left.carousel-control(data-slide='prev', href='#media4') ‹
          //-           a.right.carousel-control(data-slide='next', href='#media4') ›


  section#recent-works
    .container
      .center.wow.fadeInDown
        h2 새로운 이벤트
        .row(style="margin:auto;")

          .div(style="margin:auto;")
            #about-slider(style="margin:auto;")
              #carousel-slider.carousel.slide(data-ride='carousel' style="width:630px;margin:auto;" )
                // Indicators
                ol.carousel-indicators.visible-xs
                  li.active(data-target='#carousel-slider', data-slide-to='0')
                  li(data-target='#carousel-slider', data-slide-to='1')
                  li(data-target='#carousel-slider', data-slide-to='2')
                  
                .carousel-inner
                  .item.active
                    img.img-responsive(src='http://image2.megabox.co.kr/mop/home/main/630x315/170519_see_630x315.jpg', alt='')
                  .item
                    img.img-responsive(src='http://image2.megabox.co.kr/mop/home/main/630x315/170523_BB_630x315.jpg', alt='')
                  .item
                    img.img-responsive(src='http://image2.megabox.co.kr/mop/home/main/630x315/170524_voice_630x315.jpg', alt='')
                a.left.carousel-control.hidden-xs(href='#carousel-slider', data-slide='prev')
                  i.fa.fa-angle-left
                a.right.carousel-control.hidden-xs(href='#carousel-slider', data-slide='next')
                  i.fa.fa-angle-right
            


          .div(style='height:50px;')    
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/event/event1.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='http://www.megabox.co.kr/?menuId=main&p=detail&p2=5272') 쿠스코의 농구
                  p 최다 관람 경품이벤트!
                  p 황금연휴도 쿠로코의 농구와 함께!
                  a.preview(href='images/event/event1.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/event/event2.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='http://www.megabox.co.kr/?menuId=store') JCK 스토어
                  p 더 즐거운 영화관람을 위해 
                  p 다양한 스토어 상품과 함께 하세요.
                  a.preview(href='images/event/event2.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/event/event1.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='http://www.megabox.co.kr/?menuId=main&p=detail&p2=5272') 쿠스코의 농구
                  p 최다 관람 경품이벤트!
                  p 황금연휴도 쿠로코의 농구와 함께!
                  a.preview(href='images/event/event1.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View

          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/event/event2.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='http://www.megabox.co.kr/?menuId=store') JCK 스토어
                  p 더 즐거운 영화관람을 위해 
                  p 다양한 스토어 상품과 함께 하세요.
                  a.preview(href='images/event/event2.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View

                                      
      // /.row
    // /.container

    




  section#recent-works(style="background:#f2f2f2;")
    .container
      .center.wow.fadeInDown
        h2 제휴 이벤트
        .row
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/jehyu/jehyu_1.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') T멤버쉽 고객은 총 5천원의 무료혜택!
                  p 영화할인 + 데이터 100MB + 콤보 할인 까지!!
                  a.preview(href='images/jehyu/jehyu_1.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
          
          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/jehyu/jehyu_2.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') JCK 마스터콤보 
                  p JCK 마스터콤보를 무료로 제공 받을 수 있는 카드는?
                  a.preview(href='images/portfolio/full/item8.png', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View

          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/jehyu/jehyu_3.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') 하나카드, 러브콤보
                  p 하나카드로 러브콤보 Get하는 방법!
                  a.preview(href='images/jehyu/jehyu_3.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View

          .col-xs-12.col-sm-4.col-md-3
            .recent-work-wrap
              img.img-responsive(src='images/jehyu/jehyu_4.jpg', alt='')
              .overlay
                .recent-work-inner
                  h3
                    a(href='#') 블루포인트
                  p 블루멤버스 포인트로 메가박스 4천원 할인 받으세요!
                  a.preview(href='images/jehyu/jehyu_4.jpg', rel='prettyPhoto')
                    i.fa.fa-eye
                    |  View
                                    
    // /.row
  // /.container   

  // /#recent-works
  section#services.service-item
    .container
      .center.wow.fadeInDown  
        h2 Grand Opening !!
        p.lead(style="font-size:40px;font-weight:bold;")
          | 새롭게 시작하는 JCK와 만나보세요!

      .row
        .col-sm-7.col-md-5.col-md-offset-2
          .media.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/etc_image/cham.png' style="height:300px;")

        .col-sm-7.col-md-5
          .media.wow.fadeInDown
            .pull-left
              img.img-responsive(src='images/etc_image/saebit.png' style="height:300px;")

       
      // /.row
    // /.container
  // /#services
  section#middle
    .container
      .row
        .col-sm-6.wow.fadeInDown
          .skill
            h2 예매율 현황 
            //-  #{datas1}.movie_title
              h3 불한당
              br
              .progress
                .progress-bar.color1(role='progressbar', aria-valuenow='40', aria-valuemin='0', aria-valuemax='100', style='width: 85%')
                  span.bar-width 85%
            .progress-wrap
              h3 캐리비언의 해적
              br
              .progress
                .progress-bar.color2(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100', style='width: 95%')
                  span.bar-width 95%
            .progress-wrap
              h3 겟아웃
              br
              .progress
                .progress-bar.color3(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100', style='width: 80%')
                  span.bar-width 80%
            .progress-wrap
              h3 노무현입니다
              br
              .progress
                .progress-bar.color4(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100', style='width: 90%')
                  span.bar-width 90%
        // /.col-sm-6
        .col-sm-6.wow.fadeInDown
          .accordion
            h2 영화 리뷰 / 감상평
            #accordion1.panel-group
              .panel.panel-default
                .panel-heading.active
                  h3.panel-title
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseOne1')
                      | 영화리뷰:) 미씽 사라진 여자(2016) 줄거리와 결말 : 두...
                      i.fa.fa-angle-right.pull-right
                #collapseOne1.panel-collapse.collapse.in
                  .panel-body
                    .media.accordion-inner
                      .pull-left
                        img.img-responsive(src='images/r1.jpg')
                      .media-body
                        h4
                          a(href='http://blog.naver.com/PostView.nhn?blogId=sadgirl486&logNo=220963436433&parentCategoryNo=1&categoryNo=&viewDate=&isShowPopularPosts=true&from=search', target='_blank') 영화리뷰:) 미씽 사라진 여자(2016) 줄거리와 결말 : 두...
                        p
                          | 영화리뷰:) 미씽 사라진 여자(2016) 줄거리와 결말 : 두 여배우의 미친 연기 hello, 116번째 영화리뷰를 들고 온 러블리 주에요♡ 오늘은 공블리의 연기 변신으로 화제를...
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseTwo1')
                      | 특별한 영화리뷰 모음집 씨네22 from 라파엘
                      i.fa.fa-angle-right.pull-right
                #collapseTwo1.panel-collapse.collapse
                  .panel-body
                    .media.accordion-inner
                      .pull-left
                        img.img-responsive(src='images/r2.jpg')
                      .media-body
                        h4 
                          a(href='http://blog.naver.com/PostView.nhn?blogId=lubkhaki&logNo=220993081941', target='_blank') 특별한 영화리뷰 모음집 씨네22 from 라파엘
                        p
                          | 이영차에서 만난 이웃 라파엘 '동생'이 제 자식과도 같은 영화리뷰 모음집 <씨네 22>를 보내왔다 감사 감사~ 원래는 라파엘'님'이었는데, 지난 달 모임 이후로 급! 누나...
              .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseThree1')
                      | [공포영화]능청남의 내 멋대로 영화 리뷰! : 포스카인드
                      i.fa.fa-angle-right.pull-right
                #collapseThree1.panel-collapse.collapse
                  .panel-body
                    .media.accordion-inner
                      .pull-left
                        img.img-responsive(src='images/r3.jpg')
                      .media-body
                        h4 
                          a(href='http://blog.naver.com/PostThumbnailView.nhn?blogId=singono1&logNo=221004763746&categoryNo=111&parentCategoryNo=74', target='_blank') [공포영화]능청남의 내 멋대로 영화 리뷰! : 포스카인드
                        p
                          | 안녕하세요, 공포 영화 리뷰 글을 쓰는 능청남입니다. 먼저 글을 읽으시기 전에, 알아두실점은 줄거리를 제외한 다른 모든 부분은 능청남의 개인적 생각들과 다른...
               .panel.panel-default
                .panel-heading
                  h3.panel-title
                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#collapseFour1')
                      | [영화리뷰]<크리피 : 일가족 연쇄 실종 사건>, 일본 스릴러의...
                      i.fa.fa-angle-right.pull-right
                #collapseFour1.panel-collapse.collapse
                  .panel-body
                    .media.accordion-inner
                      .pull-left
                        img.img-responsive(src='images/r4.jpg')
                      .media-body
                        h4 
                          a(href='http://blog.naver.com/zero4427/221013456063', target='_blank') [영화리뷰]<크리피 : 일가족 연쇄 실종 사건>, 일본 스릴러의...
                        p
                          | 호진시네마의 No.1206번째 영화 <크리피 :일가족 연쇄 실종 사건>. 이 작품은 작년 6월 일본 오사카로 처음 여행을 갔을 무렵, TOHO 시네마에서상영 예정작으로 처음 봤던...
            // /#accordion1
      // /.row
    // /.container
  // /#middle
  section#content
    .container
      .row
        .col-xs-12.col-sm-12.col-xs-offset-1.wow.fadeInDown.animated(style='visibility: visible; animation-name: fadeInDown;')
          .section.no5(style='padding:0 0 80px')
            .content_wrap.clearfix.wide
              .main_wgt
                h3.h3 JCK 공지사항
                .notice_box.common_tab
                  dl
                    dt.bdl_e1
                      a(href="javascript:MainNotice.showPage('MEG');", title='전체 공지보기') 전체공지
                    dd(style='display: none;')
                      #notice_tab1
                        ul.type1
                          li
                            p
                              strong 전체
                              span | 2017.05.26
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8632')", title='공지사항 상세보기')
                              | [무비올나잇] ‘추모전 패키지’ 상영작 변경 ...
                          li
                            p
                              strong 전체
                              span | 2017.05.23
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8629')", title='공지사항 상세보기')
                              | [무대인사] <대립군> 주연배우를 만나세요!
                          li
                            p
                              strong 전체
                              span | 2017.05.11
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8615')", title='공지사항 상세보기')
                              | <런던 프라이드> 필소토크 @신촌 이벤트 당첨...
                          li.last
                            p
                              strong 전체
                              span | 2017.04.05
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8543')", title='공지사항 상세보기')
                              | [공지] M2/MX 포인트 교환 관람권 변경 ...
                        script.
                          initControls($('div#notice_tab1'));
                    dt
                      a.on(href="javascript:MainNotice.showPage('CIN');", title='영화관 공지보기') 영화관 공지
                    dd(style='display: block;')
                      #notice_tab2
                        ul.type1
                          li
                            p
                              strong 킨텍스
                              span | 2017.05.26
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8634')", title='공지사항 상세보기')
                              | [킨텍스점] 관람가격 조정 안내
                          li
                            p
                              strong 동대문
                              span | 2017.05.26
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8633')", title='공지사항 상세보기')
                              | [동대문점] 관람가격 조정 안내
                          li
                            p
                              strong 코엑스
                              span | 2017.04.24
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8594')", title='공지사항 상세보기')
                              | [코엑스점] 요금제 안내
                          li.last
                            p
                              strong 대구(칠성로)
                              span | 2017.04.20
                            a(href='javascript:void(0)', onclick="showMenu('center-notice', 'detail', '8587')", title='공지사항 상세보기')
                              | [대구(칠성로)점] COMFORT 4관 리뉴얼...
                        script.
                          initControls($('div#notice_tab2'));
                  span.common_tab_bar
                a.icon.plus(href="javascript:showMenu('center-notice');", title='공지사항 더보기') 더보기
              input(name='searchCard', value='', type='hidden')
              .main_wgt
                h3.h3.no5_2 JCK 할인카드 
                ul#cardList.type2
                  li.clearfix.card_list
                    a(href="javascript:$('input:hidden[name=searchCard]').val('201');MainCardSearch.showPage(0);", title='')
                      img(src='http://image2.megabox.co.kr/mop/home/temp/img_main_01.png', alt='T멤버십 일반')
                      p
                        strong.c_title T멤버십 일반
                        span.mt3.mb3
                          | 영화 2,000원 할인
                          br
                          | (1일 5매)
                  li.clearfix.card_list
                    a(href="javascript:$('input:hidden[name=searchCard]').val('11');MainCardSearch.showPage(0);", title='')
                      img(src='http://image2.megabox.co.kr/mop/home/temp/lg_uplus.png', alt='LG U+')
                      p
                        strong.c_title LG U+
                        span.mt3.mb3
                          | 영화 1,000원 현장 할인
                          br
                          | (1일 1회 / 월 4회)
                  li.clearfix.card_list
                    a(href="javascript:$('input:hidden[name=searchCard]').val('209');MainCardSearch.showPage(0);", title='')
                      img(src='http://image2.megabox.co.kr/mop/home/temp/membershipcard.png', alt='중앙멤버십')
                      p
                        strong.c_title 중앙멤버십
                        span.mt3.mb3
                          | 현장할인, 인터넷할인
                          br
                          | (연 24회)
                  script.
                    initControls($('#cardList'));
                a.icon.plus(href='javascript:void(0)', onclick="showMenu('discountcard')", title='메가박스 할인카드 더보기') 더보기
              .main_wgt
                .fb-page(data-href='https://www.facebook.com/JCKMovie/', data-tabs='timeline', data-width='290', data-height='330', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='true')
                  blockquote.fb-xfbml-parse-ignore(cite='https://www.facebook.com/JCKMovie/')
                    a(href='https://www.facebook.com/JCKMovie/') JCK Movie


  // /#bottom
  footer#footer.midnight-blue
    .container
      .row
        .col-sm-6
          | © 2013
          a(target='_blank', href='http://shapebootstrap.net/', title='Free Twitter Bootstrap WordPress Themes and HTML templates') ShapeBootstrap
          | . All Rights Reserved.
        .col-sm-6
          ul.pull-right
            li
              a(href='http://localhost:3000/') 메인화면
            li
              a(href='#') About Us
            li
              a(href='#') Faq
            li
              a(href='#') Contact Us
  // /#footer

  script.
    var slideIndex = 1;
    showDivs(slideIndex);
    function plusDivs(n) {
    showDivs(slideIndex += n);
    }
    function currentDiv(n) {
    showDivs(slideIndex = n);
    }
    function showDivs(n) {
    var i;
    var x = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("demo");
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-white", "");
    }
    x[slideIndex-1].style.display = "block";
    dots[slideIndex-1].className += " w3-white";
    }


  script(src='js/jquery.js')
  script(src='js/bootstrap.min.js')
  script(src='js/jquery.prettyPhoto.js')
  script(src='js/jquery.isotope.min.js')
  script(src='js/main.js')
  script(src='js/wow.min.js')
