doctype html
html.no-js(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Perspective Seat Preview | Codrops
    meta(name='description', content='An experimental demo where a 3D perspective preview is shown for a selected seat in a cinema room.')
    meta(name='keywords', content='cinema, seat booking, seating plan, perspective, 3d')
    meta(name='author', content='Codrops')
    link(rel='shortcut icon', href='../../favicon.ico')
    link(rel='stylesheet', type='text/css', href='../../css/normalize.css')
    link(rel='stylesheet', type='text/css', href='../../css/demo.css')
    link(rel='stylesheet', type='text/css', href='../../css/component.css')
    script(src='../../js/modernizr-custom.js')
  body
    header.header
      .codrops-links
        a.codrops-icon.codrops-icon--prev(href='http://tympanus.net/Development/LineMenuStyles/', title='Previous Demo')
          span #{movie_title}
        a.codrops-icon.codrops-icon--drop(href='http://tympanus.net/codrops/?p=25885', title='Back to the article')
          span Back to the Codrops article
      h1.header__title Cinema Seat Preview
      p.note.note--screen Please view on a larger screen
      p.note.note--support Sorry, but your browser doesn't support preserve-3d!
    .container
      .cube
        .cube__side.cube__side--front
        .cube__side.cube__side--back
          .screen
            .video
            
              if movie_title == '캐리비안의 해적'
                iframe(width='1280', height='700', src='https://www.youtube.com/embed/57GUPDM1KUk', frameborder='0', allowfullscreen='')
              
              else if movie_title =='불한당'
                <iframe width="1280" height="700" src="https://www.youtube.com/embed/hLCO7_w72ko" frameborder="0" allowfullscreen></iframe>
              
              else if movie_title =='겟 아웃'
                iframe(width='1280', height='700', src='https://www.youtube.com/embed/Qu5JDOpMuEk', frameborder='0', allowfullscreen='')

              else if movie_title =='노무현입니다'
                iframe(width='854', height='480', src='https://www.youtube.com/embed/r2fomEGfapc', frameborder='0', allowfullscreen='')

            .intro.intro--shown
              .intro__side(style='float:right;')
                h2.intro__title
              .intro__side
                button.action.action--play.action--shown(style='margin-top:6px;font-size:20px;', aria-label='Play Video')
                button.action.action--seats Select your seats
        .cube__side.cube__side--left
        .cube__side.cube__side--right
        .cube__side.cube__side--top
        .rows.rows--large
          .row
            .row__seat(data-seat='A1')
            .row__seat(data-seat='A2')
            .row__seat(data-seat='A3')
            .row__seat(data-seat='A4')
            .row__seat(data-seat='A5')
            .row__seat(data-seat='A6')
            .row__seat(data-seat='A7')
            .row__seat(data-seat='A8')
            .row__seat(data-seat='A9')
            .row__seat(data-seat='A10')
            .row__seat(data-seat='A11')
            .row__seat(data-seat='A12')
            .row__seat(data-seat='A13')
            .row__seat(data-seat='A14')
            .row__seat(data-seat='A15')
            .row__seat(data-seat='A16')
            .row__seat(data-seat='A17')
            .row__seat(data-seat='A18')
          .row
            .row__seat(data-seat='B1')
            .row__seat(data-seat='B2')
            .row__seat(data-seat='B3')
            .row__seat(data-seat='B4')
            .row__seat(data-seat='B5')
            .row__seat(data-seat='B6')
            .row__seat(data-seat='B7')
            .row__seat(data-seat='B8')
            .row__seat(data-seat='B9')
            .row__seat(data-seat='B10')
            .row__seat(data-seat='B11')
            .row__seat(data-seat='B12')
            .row__seat(data-seat='B13')
            .row__seat(data-seat='B14')
            .row__seat(data-seat='B15')
            .row__seat(data-seat='B16')
            .row__seat(data-seat='B17')
            .row__seat(data-seat='B18')
          .row
            .row__seat(data-seat='C1')
            .row__seat(data-seat='C2')
            .row__seat(data-seat='C3')
            .row__seat(data-seat='C4')
            .row__seat(data-seat='C5')
            .row__seat(data-seat='C6')
            .row__seat(data-seat='C7')
            .row__seat(data-seat='C8')
            .row__seat(data-seat='C9')
            .row__seat(data-seat='C10')
            .row__seat(data-seat='C11')
            .row__seat(data-seat='C12')
            .row__seat(data-seat='C13')
            .row__seat(data-seat='C14')
            .row__seat(data-seat='C15')
            .row__seat(data-seat='C16')
            .row__seat(data-seat='C17')
            .row__seat(data-seat='C18')
          .row
            .row__seat(data-seat='D1')
            .row__seat(data-seat='D2')
            .row__seat(data-seat='D3')
            .row__seat(data-seat='D4')
            .row__seat(data-seat='D5')
            .row__seat(data-seat='D6')
            .row__seat(data-seat='D7')
            .row__seat(data-seat='D8')
            .row__seat(data-seat='D9')
            .row__seat(data-seat='D10')
            .row__seat(data-seat='D11')
            .row__seat(data-seat='D12')
            .row__seat(data-seat='D13')
            .row__seat(data-seat='D14')
            .row__seat(data-seat='D15')
            .row__seat(data-seat='D16')
            .row__seat(data-seat='D17')
            .row__seat(data-seat='D18')
          .row
            .row__seat(data-seat='E1')
            .row__seat(data-seat='E2')
            .row__seat(data-seat='E3')
            .row__seat(data-seat='E4')
            .row__seat(data-seat='E5')
            .row__seat(data-seat='E6')
            .row__seat(data-seat='E7')
            .row__seat(data-seat='E8')
            .row__seat(data-seat='E9')
            .row__seat(data-seat='E10')
            .row__seat(data-seat='E11')
            .row__seat(data-seat='E12')
            .row__seat(data-seat='E13')
            .row__seat(data-seat='E14')
            .row__seat(data-seat='E15')
            .row__seat(data-seat='E16')
            .row__seat(data-seat='E17')
            .row__seat(data-seat='E18')
          .row
            .row__seat(data-seat='F1')
            .row__seat(data-seat='F2')
            .row__seat(data-seat='F3')
            .row__seat(data-seat='F4')
            .row__seat(data-seat='F5')
            .row__seat(data-seat='F6')
            .row__seat(data-seat='F7')
            .row__seat(data-seat='F8')
            .row__seat(data-seat='F9')
            .row__seat(data-seat='F10')
            .row__seat(data-seat='F11')
            .row__seat(data-seat='F12')
            .row__seat(data-seat='F13')
            .row__seat(data-seat='F14')
            .row__seat(data-seat='F15')
            .row__seat(data-seat='F16')
            .row__seat(data-seat='F17')
            .row__seat(data-seat='F18')
          .row
            .row__seat(data-seat='G1')
            .row__seat(data-seat='G2')
            .row__seat(data-seat='G3')
            .row__seat(data-seat='G4')
            .row__seat(data-seat='G5')
            .row__seat(data-seat='G6')
            .row__seat(data-seat='G7')
            .row__seat(data-seat='G8')
            .row__seat(data-seat='G9')
            .row__seat(data-seat='G10')
            .row__seat(data-seat='G11')
            .row__seat(data-seat='G12')
            .row__seat(data-seat='G13')
            .row__seat(data-seat='G14')
            .row__seat(data-seat='G15')
            .row__seat(data-seat='G16')
            .row__seat(data-seat='G17')
            .row__seat(data-seat='G18')
          .row
            .row__seat(data-seat='H1')
            .row__seat(data-seat='H2')
            .row__seat(data-seat='H3')
            .row__seat(data-seat='H4')
            .row__seat(data-seat='H5')
            .row__seat(data-seat='H6')
            .row__seat(data-seat='H7')
            .row__seat(data-seat='H8')
            .row__seat(data-seat='H9')
            .row__seat(data-seat='H10')
            .row__seat(data-seat='H11')
            .row__seat(data-seat='H12')
            .row__seat(data-seat='H13')
            .row__seat(data-seat='H14')
            .row__seat(data-seat='H15')
            .row__seat(data-seat='H16')
            .row__seat(data-seat='H17')
            .row__seat(data-seat='H18')
          .row
            .row__seat(data-seat='I1')
            .row__seat(data-seat='I2')
            .row__seat(data-seat='I3')
            .row__seat(data-seat='I4')
            .row__seat(data-seat='I5')
            .row__seat(data-seat='I6')
            .row__seat(data-seat='I7')
            .row__seat(data-seat='I8')
            .row__seat(data-seat='I9')
            .row__seat(data-seat='I10')
            .row__seat(data-seat='I11')
            .row__seat(data-seat='I12')
            .row__seat(data-seat='I13')
            .row__seat(data-seat='I14')
            .row__seat(data-seat='I15')
            .row__seat(data-seat='I16')
            .row__seat(data-seat='I17')
            .row__seat(data-seat='I18')
          .row
            .row__seat(data-seat='J1')
            .row__seat(data-seat='J2')
            .row__seat(data-seat='J3')
            .row__seat(data-seat='J4')
            .row__seat(data-seat='J5')
            .row__seat(data-seat='J6')
            .row__seat(data-seat='J7')
            .row__seat(data-seat='J8')
            .row__seat(data-seat='J9')
            .row__seat(data-seat='J10')
            .row__seat(data-seat='J11')
            .row__seat(data-seat='J12')
            .row__seat(data-seat='J13')
            .row__seat(data-seat='J14')
            .row__seat(data-seat='J15')
            .row__seat(data-seat='J16')
            .row__seat(data-seat='J17')
            .row__seat(data-seat='J18')
          .row
            .row__seat(data-seat='K1')
            .row__seat(data-seat='K2')
            .row__seat(data-seat='K3')
            .row__seat(data-seat='K4')
            .row__seat(data-seat='K5')
            .row__seat(data-seat='K6')
            .row__seat(data-seat='K7')
            .row__seat(data-seat='K8')
            .row__seat(data-seat='K9')
            .row__seat(data-seat='K10')
            .row__seat(data-seat='K11')
            .row__seat(data-seat='K12')
            .row__seat(data-seat='K13')
            .row__seat(data-seat='K14')
            .row__seat(data-seat='K15')
            .row__seat(data-seat='K16')
            .row__seat(data-seat='K17')
            .row__seat(data-seat='K18')
          .row
            .row__seat(data-seat='L1')
            .row__seat(data-seat='L2')
            .row__seat(data-seat='L3')
            .row__seat(data-seat='L4')
            .row__seat(data-seat='L5')
            .row__seat(data-seat='L6')
            .row__seat(data-seat='L7')
            .row__seat(data-seat='L8')
            .row__seat(data-seat='L9')
            .row__seat(data-seat='L10')
            .row__seat(data-seat='L11')
            .row__seat(data-seat='L12')
            .row__seat(data-seat='L13')
            .row__seat(data-seat='L14')
            .row__seat(data-seat='L15')
            .row__seat(data-seat='L16')
            .row__seat(data-seat='L17')
            .row__seat(data-seat='L18')
          .row
            .row__seat(data-seat='M1')
            .row__seat(data-seat='M2')
            .row__seat(data-seat='M3')
            .row__seat(data-seat='M4')
            .row__seat(data-seat='M5')
            .row__seat(data-seat='M6')
            .row__seat(data-seat='M7')
            .row__seat(data-seat='M8')
            .row__seat(data-seat='M9')
            .row__seat(data-seat='M10')
            .row__seat(data-seat='M11')
            .row__seat(data-seat='M12')
            .row__seat(data-seat='M13')
            .row__seat(data-seat='M14')
            .row__seat(data-seat='M15')
            .row__seat(data-seat='M16')
            .row__seat(data-seat='M17')
            .row__seat(data-seat='M18')
          .row
            .row__seat(data-seat='N1')
            .row__seat(data-seat='N2')
            .row__seat(data-seat='N3')
            .row__seat(data-seat='N4')
            .row__seat(data-seat='N5')
            .row__seat(data-seat='N6')
            .row__seat(data-seat='N7')
            .row__seat(data-seat='N8')
            .row__seat(data-seat='N9')
            .row__seat(data-seat='N10')
            .row__seat(data-seat='N11')
            .row__seat(data-seat='N12')
            .row__seat(data-seat='N13')
            .row__seat(data-seat='N14')
            .row__seat(data-seat='N15')
            .row__seat(data-seat='N16')
            .row__seat(data-seat='N17')
            .row__seat(data-seat='N18')
          .row
            .row__seat(data-seat='O1')
            .row__seat(data-seat='O2')
            .row__seat(data-seat='O3')
            .row__seat(data-seat='O4')
            .row__seat(data-seat='O5')
            .row__seat(data-seat='O6')
            .row__seat(data-seat='O7')
            .row__seat(data-seat='O8')
            .row__seat(data-seat='O9')
            .row__seat(data-seat='O10')
            .row__seat(data-seat='O11')
            .row__seat(data-seat='O12')
            .row__seat(data-seat='O13')
            .row__seat(data-seat='O14')
            .row__seat(data-seat='O15')
            .row__seat(data-seat='O16')
            .row__seat(data-seat='O17')
            .row__seat(data-seat='O18')
          .row
            .row__seat(data-seat='P1')
            .row__seat(data-seat='P2')
            .row__seat(data-seat='P3')
            .row__seat(data-seat='P4')
            .row__seat(data-seat='P5')
            .row__seat(data-seat='P6')
            .row__seat(data-seat='P7')
            .row__seat(data-seat='P8')
            .row__seat(data-seat='P9')
            .row__seat(data-seat='P10')
            .row__seat(data-seat='P11')
            .row__seat(data-seat='P12')
            .row__seat(data-seat='P13')
            .row__seat(data-seat='P14')
            .row__seat(data-seat='P15')
            .row__seat(data-seat='P16')
            .row__seat(data-seat='P17')
            .row__seat(data-seat='P18')
          .row
            .row__seat(data-seat='Q1')
            .row__seat(data-seat='Q2')
            .row__seat(data-seat='Q3')
            .row__seat(data-seat='Q4')
            .row__seat(data-seat='Q5')
            .row__seat(data-seat='Q6')
            .row__seat(data-seat='Q7')
            .row__seat(data-seat='Q8')
            .row__seat(data-seat='Q9')
            .row__seat(data-seat='Q10')
            .row__seat(data-seat='Q11')
            .row__seat(data-seat='Q12')
            .row__seat(data-seat='Q13')
            .row__seat(data-seat='Q14')
            .row__seat(data-seat='Q15')
            .row__seat(data-seat='Q16')
            .row__seat(data-seat='Q17')
            .row__seat(data-seat='Q18')
          .row
            .row__seat(data-seat='R1')
            .row__seat(data-seat='R2')
            .row__seat(data-seat='R3')
            .row__seat(data-seat='R4')
            .row__seat(data-seat='R5')
            .row__seat(data-seat='R6')
            .row__seat(data-seat='R7')
            .row__seat(data-seat='R8')
            .row__seat(data-seat='R9')
            .row__seat(data-seat='R10')
            .row__seat(data-seat='R11')
            .row__seat(data-seat='R12')
            .row__seat(data-seat='R13')
            .row__seat(data-seat='R14')
            .row__seat(data-seat='R15')
            .row__seat(data-seat='R16')
            .row__seat(data-seat='R17')
            .row__seat(data-seat='R18')
        // /rows
      // /cube
    // /container
    .plan
      h3.plan__title Seating Plan
      .rows.rows--mini
        .row
          .row__seat.tooltip(data-tooltip='A1')
          .row__seat.tooltip(data-tooltip='A2')
          .row__seat.tooltip(data-tooltip='A3')
          .row__seat.tooltip(data-tooltip='A4')
          .row__seat.tooltip(data-tooltip='A5')
          .row__seat.tooltip(data-tooltip='A6')
          .row__seat.tooltip(data-tooltip='A7')
          .row__seat.tooltip(data-tooltip='A8')
          .row__seat.tooltip(data-tooltip='A9')
          .row__seat.tooltip(data-tooltip='A10')
          .row__seat.tooltip(data-tooltip='A11')
          .row__seat.tooltip(data-tooltip='A12')
          .row__seat.tooltip(data-tooltip='A13')
          .row__seat.tooltip(data-tooltip='A14')
          .row__seat.tooltip(data-tooltip='A15')
          .row__seat.tooltip(data-tooltip='A16')
          .row__seat.tooltip(data-tooltip='A17')
          .row__seat.tooltip(data-tooltip='A18')
        .row
          .row__seat.tooltip(data-tooltip='B1')
          .row__seat.tooltip(data-tooltip='B2')
          .row__seat.tooltip(data-tooltip='B3')
          .row__seat.tooltip(data-tooltip='B4')
          .row__seat.tooltip(data-tooltip='B5')
          .row__seat.tooltip(data-tooltip='B6')
          .row__seat.tooltip(data-tooltip='B7')
          .row__seat.tooltip(data-tooltip='B8')
          .row__seat.tooltip(data-tooltip='B9')
          .row__seat.tooltip(data-tooltip='B10')
          .row__seat.tooltip(data-tooltip='B11')
          .row__seat.tooltip(data-tooltip='B12')
          .row__seat.tooltip(data-tooltip='B13')
          .row__seat.tooltip(data-tooltip='B14')
          .row__seat.tooltip(data-tooltip='B15')
          .row__seat.tooltip(data-tooltip='B16')
          .row__seat.tooltip(data-tooltip='B17')
          .row__seat.tooltip(data-tooltip='B18')
        .row
          .row__seat.tooltip(data-tooltip='C1')
          .row__seat.tooltip(data-tooltip='C2')
          .row__seat.tooltip(data-tooltip='C3')
          .row__seat.tooltip(data-tooltip='C4')
          .row__seat.tooltip(data-tooltip='C5')
          .row__seat.tooltip(data-tooltip='C6')
          .row__seat.tooltip(data-tooltip='C7')
          .row__seat.tooltip(data-tooltip='C8')
          .row__seat.tooltip(data-tooltip='C9')
          .row__seat.tooltip(data-tooltip='C10')
          .row__seat.tooltip(data-tooltip='C11')
          .row__seat.tooltip(data-tooltip='C12')
          .row__seat.tooltip(data-tooltip='C13')
          .row__seat.tooltip(data-tooltip='C14')
          .row__seat.tooltip(data-tooltip='C15')
          .row__seat.tooltip(data-tooltip='C16')
          .row__seat.tooltip(data-tooltip='C17')
          .row__seat.tooltip(data-tooltip='C18')
        .row
          .row__seat.tooltip(data-tooltip='D1')
          .row__seat.tooltip(data-tooltip='D2')
          .row__seat.tooltip(data-tooltip='D3')
          .row__seat.tooltip(data-tooltip='D4')
          .row__seat.tooltip(data-tooltip='D5')
          .row__seat.tooltip(data-tooltip='D6')
          .row__seat.tooltip(data-tooltip='D7')
          .row__seat.tooltip(data-tooltip='D8')
          .row__seat.tooltip(data-tooltip='D9')
          .row__seat.tooltip(data-tooltip='D10')
          .row__seat.tooltip(data-tooltip='D11')
          .row__seat.tooltip(data-tooltip='D12')
          .row__seat.tooltip(data-tooltip='D13')
          .row__seat.tooltip(data-tooltip='D14')
          .row__seat.tooltip(data-tooltip='D15')
          .row__seat.tooltip(data-tooltip='D16')
          .row__seat.tooltip(data-tooltip='D17')
          .row__seat.tooltip(data-tooltip='D18')
          
        .row
          .row__seat.tooltip(data-tooltip='E1')
          .row__seat.tooltip(data-tooltip='E2')
          .row__seat.tooltip(data-tooltip='E3')
          .row__seat.tooltip(data-tooltip='E4')
          .row__seat.tooltip(data-tooltip='E5')
          .row__seat.tooltip(data-tooltip='E6')
          .row__seat.tooltip(data-tooltip='E7')
          .row__seat.tooltip(data-tooltip='E8')
          .row__seat.tooltip(data-tooltip='E9')
          .row__seat.tooltip(data-tooltip='E10')
          .row__seat.tooltip(data-tooltip='E11')
          .row__seat.tooltip(data-tooltip='E12')
          .row__seat.tooltip(data-tooltip='E13')
          .row__seat.tooltip(data-tooltip='E14')
          .row__seat.tooltip(data-tooltip='E15')
          .row__seat.tooltip(data-tooltip='E16')
          .row__seat.tooltip(data-tooltip='E17')
          .row__seat.tooltip(data-tooltip='E18')
        .row
          .row__seat.tooltip(data-tooltip='F1')
          .row__seat.tooltip(data-tooltip='F2')
          .row__seat.tooltip(data-tooltip='F3')
          .row__seat.tooltip(data-tooltip='F4')
          .row__seat.tooltip(data-tooltip='F5')
          .row__seat.tooltip(data-tooltip='F6')
          .row__seat.tooltip(data-tooltip='F7')
          .row__seat.tooltip(data-tooltip='F8')
          .row__seat.tooltip(data-tooltip='F9')
          .row__seat.tooltip(data-tooltip='F10')
          .row__seat.tooltip(data-tooltip='F11')
          .row__seat.tooltip(data-tooltip='F12')
          .row__seat.tooltip(data-tooltip='F13')
          .row__seat.tooltip(data-tooltip='F14')
          .row__seat.tooltip(data-tooltip='F15')
          .row__seat.tooltip(data-tooltip='F16')
          .row__seat.tooltip(data-tooltip='F17')
          .row__seat.tooltip(data-tooltip='F18')
        .row
          .row__seat.tooltip(data-tooltip='G1')
          .row__seat.tooltip(data-tooltip='G2')
          .row__seat.tooltip(data-tooltip='G3')
          .row__seat.tooltip(data-tooltip='G4')
          .row__seat.tooltip(data-tooltip='G5')
          .row__seat.tooltip(data-tooltip='G6')
          .row__seat.tooltip(data-tooltip='G7')
          .row__seat.tooltip(data-tooltip='G8')
          .row__seat.tooltip(data-tooltip='G9')
          .row__seat.tooltip(data-tooltip='G10')
          .row__seat.tooltip(data-tooltip='G11')
          .row__seat.tooltip(data-tooltip='G12')
          .row__seat.tooltip(data-tooltip='G13')
          .row__seat.tooltip(data-tooltip='G14')
          .row__seat.tooltip(data-tooltip='G15')
          .row__seat.tooltip(data-tooltip='G16')
          .row__seat.tooltip(data-tooltip='G17')
          .row__seat.tooltip(data-tooltip='G18')
        .row
          .row__seat.tooltip(data-tooltip='H1')
          .row__seat.tooltip(data-tooltip='H2')
          .row__seat.tooltip(data-tooltip='H3')
          .row__seat.tooltip(data-tooltip='H4')
          .row__seat.tooltip(data-tooltip='H5')
          .row__seat.tooltip(data-tooltip='H6')
          .row__seat.tooltip(data-tooltip='H7')
          .row__seat.tooltip(data-tooltip='H8')
          .row__seat.tooltip(data-tooltip='H9')
          .row__seat.tooltip(data-tooltip='H10')
          .row__seat.tooltip(data-tooltip='H11')
          .row__seat.tooltip(data-tooltip='H12')
          .row__seat.tooltip(data-tooltip='H13')
          .row__seat.tooltip(data-tooltip='H14')
          .row__seat.tooltip(data-tooltip='H15')
          .row__seat.tooltip(data-tooltip='H16')
          .row__seat.tooltip(data-tooltip='H17')
          .row__seat.tooltip(data-tooltip='H18')
        .row
          .row__seat.tooltip(data-tooltip='I1')
          .row__seat.tooltip(data-tooltip='I2')
          .row__seat.tooltip(data-tooltip='I3')
          .row__seat.tooltip(data-tooltip='I4')
          .row__seat.tooltip(data-tooltip='I5')
          .row__seat.tooltip(data-tooltip='I6')
          .row__seat.tooltip(data-tooltip='I7')
          .row__seat.tooltip(data-tooltip='I8')
          .row__seat.tooltip(data-tooltip='I9')
          .row__seat.tooltip(data-tooltip='I10')
          .row__seat.tooltip(data-tooltip='I11')
          .row__seat.tooltip(data-tooltip='I12')
          .row__seat.tooltip(data-tooltip='I13')
          .row__seat.tooltip(data-tooltip='I14')
          .row__seat.tooltip(data-tooltip='I15')
          .row__seat.tooltip(data-tooltip='I16')
          .row__seat.tooltip(data-tooltip='I17')
          .row__seat.tooltip(data-tooltip='I18')
        .row
          .row__seat.tooltip(data-tooltip='J1')
          .row__seat.tooltip(data-tooltip='J2')
          .row__seat.tooltip(data-tooltip='J3')
          .row__seat.tooltip(data-tooltip='J4')
          .row__seat.tooltip(data-tooltip='J5')
          .row__seat.tooltip(data-tooltip='J6')
          .row__seat.tooltip(data-tooltip='J7')
          .row__seat.tooltip(data-tooltip='J8')
          .row__seat.tooltip(data-tooltip='J9')
          .row__seat.tooltip(data-tooltip='J10')
          .row__seat.tooltip(data-tooltip='J11')
          .row__seat.tooltip(data-tooltip='J12')
          .row__seat.tooltip(data-tooltip='J13')
          .row__seat.tooltip(data-tooltip='J14')
          .row__seat.tooltip(data-tooltip='J15')
          .row__seat.tooltip(data-tooltip='J16')
          .row__seat.tooltip(data-tooltip='J17')
          .row__seat.tooltip(data-tooltip='J18')
        .row
          .row__seat.tooltip(data-tooltip='K1')
          .row__seat.tooltip(data-tooltip='K2')
          .row__seat.tooltip(data-tooltip='K3')
          .row__seat.tooltip(data-tooltip='K4')
          .row__seat.tooltip(data-tooltip='K5')
          .row__seat.tooltip(data-tooltip='K6')
          .row__seat.tooltip(data-tooltip='K7')
          .row__seat.tooltip(data-tooltip='K8')
          .row__seat.tooltip(data-tooltip='K9')
          .row__seat.tooltip(data-tooltip='K10')
          .row__seat.tooltip(data-tooltip='K11')
          .row__seat.tooltip(data-tooltip='K12')
          .row__seat.tooltip(data-tooltip='K13')
          .row__seat.tooltip(data-tooltip='K14')
          .row__seat.tooltip(data-tooltip='K15')
          .row__seat.tooltip(data-tooltip='K16')
          .row__seat.tooltip(data-tooltip='K17')
          .row__seat.tooltip(data-tooltip='K18')
        .row
          .row__seat.tooltip(data-tooltip='L1')
          .row__seat.tooltip(data-tooltip='L2')
          .row__seat.tooltip(data-tooltip='L3')
          .row__seat.tooltip(data-tooltip='L4')
          .row__seat.tooltip(data-tooltip='L5')
          .row__seat.tooltip(data-tooltip='L6')
          .row__seat.tooltip(data-tooltip='L7')
          .row__seat.tooltip(data-tooltip='L8')
          .row__seat.tooltip(data-tooltip='L9')
          .row__seat.tooltip(data-tooltip='L10')
          .row__seat.tooltip(data-tooltip='L11')
          .row__seat.tooltip(data-tooltip='L12')
          .row__seat.tooltip(data-tooltip='L13')
          .row__seat.tooltip(data-tooltip='L14')
          .row__seat.tooltip(data-tooltip='L15')
          .row__seat.tooltip(data-tooltip='L16')
          .row__seat.tooltip(data-tooltip='L17')
          .row__seat.tooltip(data-tooltip='L18')
        .row
          .row__seat.tooltip(data-tooltip='M1')
          .row__seat.tooltip(data-tooltip='M2')
          .row__seat.tooltip(data-tooltip='M3')
          .row__seat.tooltip(data-tooltip='M4')
          .row__seat.tooltip(data-tooltip='M5')
          .row__seat.tooltip(data-tooltip='M6')
          .row__seat.tooltip(data-tooltip='M7')
          .row__seat.tooltip(data-tooltip='M8')
          .row__seat.tooltip(data-tooltip='M9')
          .row__seat.tooltip(data-tooltip='M10')
          .row__seat.tooltip(data-tooltip='M11')
          .row__seat.tooltip(data-tooltip='M12')
          .row__seat.tooltip(data-tooltip='M13')
          .row__seat.tooltip(data-tooltip='M14')
          .row__seat.tooltip(data-tooltip='M15')
          .row__seat.tooltip(data-tooltip='M16')
          .row__seat.tooltip(data-tooltip='M17')
          .row__seat.tooltip(data-tooltip='M18')
        .row
          .row__seat.tooltip(data-tooltip='N1')
          .row__seat.tooltip(data-tooltip='N2')
          .row__seat.tooltip(data-tooltip='N3')
          .row__seat.tooltip(data-tooltip='N4')
          .row__seat.tooltip(data-tooltip='N5')
          .row__seat.tooltip(data-tooltip='N6')
          .row__seat.tooltip(data-tooltip='N7')
          .row__seat.tooltip(data-tooltip='N8')
          .row__seat.tooltip(data-tooltip='N9')
          .row__seat.tooltip(data-tooltip='N10')
          .row__seat.tooltip(data-tooltip='N11')
          .row__seat.tooltip(data-tooltip='N12')
          .row__seat.tooltip(data-tooltip='N13')
          .row__seat.tooltip(data-tooltip='N14')
          .row__seat.tooltip(data-tooltip='N15')
          .row__seat.tooltip(data-tooltip='N16')
          .row__seat.tooltip(data-tooltip='N17')
          .row__seat.tooltip(data-tooltip='N18')
        .row
          .row__seat.tooltip(data-tooltip='O1')
          .row__seat.tooltip(data-tooltip='O2')
          .row__seat.tooltip(data-tooltip='O3')
          .row__seat.tooltip(data-tooltip='O4')
          .row__seat.tooltip(data-tooltip='O5')
          .row__seat.tooltip(data-tooltip='O6')
          .row__seat.tooltip(data-tooltip='O7')
          .row__seat.tooltip(data-tooltip='O8')
          .row__seat.tooltip(data-tooltip='O9')
          .row__seat.tooltip(data-tooltip='O10')
          .row__seat.tooltip(data-tooltip='O11')
          .row__seat.tooltip(data-tooltip='O12')
          .row__seat.tooltip(data-tooltip='O13')
          .row__seat.tooltip(data-tooltip='O14')
          .row__seat.tooltip(data-tooltip='O15')
          .row__seat.tooltip(data-tooltip='O16')
          .row__seat.tooltip(data-tooltip='O17')
          .row__seat.tooltip(data-tooltip='O18')
        .row
          .row__seat.tooltip(data-tooltip='P1')
          .row__seat.tooltip(data-tooltip='P2')
          .row__seat.tooltip(data-tooltip='P3')
          .row__seat.tooltip(data-tooltip='P4')
          .row__seat.tooltip(data-tooltip='P5')
          .row__seat.tooltip(data-tooltip='P6')
          .row__seat.tooltip(data-tooltip='P7')
          .row__seat.tooltip(data-tooltip='P8')
          .row__seat.tooltip(data-tooltip='P9')
          .row__seat.tooltip(data-tooltip='P10')
          .row__seat.tooltip(data-tooltip='P11')
          .row__seat.tooltip(data-tooltip='P12')
          .row__seat.tooltip(data-tooltip='P13')
          .row__seat.tooltip(data-tooltip='P14')
          .row__seat.tooltip(data-tooltip='P15')
          .row__seat.tooltip(data-tooltip='P16')
          .row__seat.tooltip(data-tooltip='P17')
          .row__seat.tooltip(data-tooltip='P18')
        .row
          .row__seat.tooltip(data-tooltip='Q1')
          .row__seat.tooltip(data-tooltip='Q2')
          .row__seat.tooltip(data-tooltip='Q3')
          .row__seat.tooltip(data-tooltip='Q4')
          .row__seat.tooltip(data-tooltip='Q5')
          .row__seat.tooltip(data-tooltip='Q6')
          .row__seat.tooltip(data-tooltip='Q7')
          .row__seat.tooltip(data-tooltip='Q8')
          .row__seat.tooltip(data-tooltip='Q9')
          .row__seat.tooltip(data-tooltip='Q10')
          .row__seat.tooltip(data-tooltip='Q11')
          .row__seat.tooltip(data-tooltip='Q12')
          .row__seat.tooltip(data-tooltip='Q13')
          .row__seat.tooltip(data-tooltip='Q14')
          .row__seat.tooltip(data-tooltip='Q15')
          .row__seat.tooltip(data-tooltip='Q16')
          .row__seat.tooltip(data-tooltip='Q17')
          .row__seat.tooltip(data-tooltip='Q18')
        .row
          .row__seat.tooltip(data-tooltip='R1')
          .row__seat.tooltip(data-tooltip='R2')
          .row__seat.tooltip(data-tooltip='R3')
          .row__seat.tooltip(data-tooltip='R4')
          .row__seat.tooltip(data-tooltip='R5')
          .row__seat.tooltip(data-tooltip='R6')
          .row__seat.tooltip(data-tooltip='R7')
          .row__seat.tooltip(data-tooltip='R8')
          .row__seat.tooltip(data-tooltip='R9')
          .row__seat.tooltip(data-tooltip='R10')
          .row__seat.tooltip(data-tooltip='R11')
          .row__seat.tooltip(data-tooltip='R12')
          .row__seat.tooltip(data-tooltip='R13')
          .row__seat.tooltip(data-tooltip='R14')
          .row__seat.tooltip(data-tooltip='R15')
          .row__seat.tooltip(data-tooltip='R16')
          .row__seat.tooltip(data-tooltip='R17')
          .row__seat.tooltip(data-tooltip='R18')

          
      // /rows
      ul.legend
        li.legend__item.legend__item--free Free
        li.legend__item.legend__item--reserved Reserved
        li.legend__item.legend__item--selected Selected
      
      form(method='post', action='/reservation/'+ '#{movie_title}' +"/"+ '#{movie_playdate}', name='movieform')
        
        
        input(id ='kwon' type='hidden',name = 'reserved_seat' value='0')
        input(type='hidden',name = 'movie_title' value='#{movie_title}')
        input(type='hidden',name = 'movie_playdate' value='#{movie_playdate}')
       
        button.action.action--buy(type="submit") Buy tickets
      
    // /plan
    button.action.action--lookaround.action--disabled(arial-label='Unlook View')
    script(src='../../js/classie.js')
    script(src='../../js/main1.js')
    script(src='../../js/jquery.js')
    
    script.
      $(".tooltip").each(function () {
          $(this).click(function () {
            console.log($(this).attr("data-tooltip"));
            $("#kwon").attr('value',$(this).attr("data-tooltip"))
          });
      });


    each seat in reserved
      script.
        $(".tooltip").each(function () {
            console.log("#{seat}");
            if("#{seat}" == $(this).attr("data-tooltip"))
            {
              $(this).addClass('row__seat--reserved').removeClass('tooltip').removeClass;
            }

        });


